In [4]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt 
from sqlalchemy import create_engine
engine = create_engine('sqlite:///graphdata.db')
%matplotlib inline

In [5]:
stroke_data = pd.read_csv("../data/healthcare-dataset-stroke-data.csv")
stroke_data.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [16]:
amount_of_stroke = stroke_data.groupby(by = ["gender"]).sum()['stroke']
amount_of_gender = stroke_data.groupby(by = ["gender"]).count()['stroke']

print(amount_of_stroke.head())
print(amount_of_gender)

gender
Female    141
Male      108
Other       0
Name: stroke, dtype: int64
gender
Female    2994
Male      2115
Other        1
Name: stroke, dtype: int64

In [20]:
pct_stroke = (amount_of_stroke / amount_of_gender) * 100

In [21]:
pct_stroke

gender
Female    4.709419
Male      5.106383
Other     0.000000
Name: stroke, dtype: float64